@font-face {
	font-family: "Norse";
	src:
		url("./fonts/Norse.woff2") format("woff2"),
		url("./fonts/Norse.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	display: flex;
	min-height: 100vh;
	font-family: Arial, sans-serif;
}

body > div {
	background-image: url("./assets/background-image.png");
	background-size: cover;
	min-width: 35vw;
	position: relative;

	h1 {
		background-color: rgba(0, 0, 0, 0.8);
		font-family: Norse, sans-serif;
		color: white;
		display: flex;
		gap: 10px;
		justify-content: center;
		align-items: center;
		font-size: 5rem;
		padding: 20px 0;
		margin-top: 200px;

		img {
			height: 100px;
		}
	}

	div {
		text-align: center;
		color: white;
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		font-size: 0.9rem;

		a {
			color: white;
		}
	}
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: space-around;
	gap: 10px;
	background-color: hsl(210, 20%, 98%);

	> * {
		padding-right: 100px;
	}

	p {
		margin: 16px 30px;
		font-size: 1.5rem;
		font-weight: bold;
		text-wrap: balance;

		a {
			color: hsl(92, 20%, 35%);
		}
	}

	p:last-child {
		font-size: 1rem;
		font-weight: normal;
	}

	form {
		margin: 0;
		padding: 0;

		label {
			text-transform: uppercase;
			color: rgb(51, 51, 51);
			font-size: 0.9rem;
		}

		> div {
			background-color: white;
			padding: 30px 0;
			padding-left: 30px;
			padding-right: 100px;
			box-shadow: 0px 8px 19px 0px lightgrey;

			p {
				margin-left: 0;
				margin-top: 0;
			}

			div {
				display: grid;
				grid-template-columns: 250px 250px;
				row-gap: 20px;
				column-gap: 60px;

				input {
					margin-top: 5px;
					width: 100%;
					font-size: 1rem;
					padding: 5px;
					border-radius: 5px;
					border-width: 2px;
					border-style: solid;
					border-color: #e5e7eb;
				}

				input:focus {
					border-color: hsl(224, 68%, 63%);
					background-color: hsl(210, 20%, 98%);
					outline: none;
					box-shadow: 0px 8px 19px 0px lightgrey;
				}

				input:user-valid {
					border-color: green;
				}

				input:user-invalid {
					border-color: red;
				}

				label:has(input:required) {
					font-style: italic;
				}
			}
		}

		button {
			margin-left: 30px;
			margin-top: 30px;
			color: white;
			background-color: hsl(92, 20%, 35%);
			border: 0;
			padding: 15px 50px;
			border-radius: 10px;
			font-size: 1.2rem;
			cursor: pointer;
			transition: 0.25s background-color;
		}

		button:hover {
			background-color: hsl(92, 20%, 45%);
		}
	}
}

@media (max-width: 1050px) {
	body {
		flex-direction: column;
	}

	body > div {
		height: 300px;

		h1 {
			margin-top: 50px;
		}
	}
}

@media (max-width: 650px) {
	body > main > form > div > div {
		grid-template-columns: auto;
	}

	body > main > p:first-child {
		padding: 0;
	}
}
