@font-face {
	font-family: "Norse";
	src:
		url("./fonts/Norse.woff2") format("woff2"),
		url("./fonts/Norse.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	display: flex;
	min-height: 100vh;
}

body > div {
	background-color: red;
	background-image: url("./assets/background-image.png");
	background-size: cover;
	min-width: 35vw;

	h1 {
		background-color: rgba(0, 0, 0, 0.8);
		font-family: Norse, sans-serif;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 5rem;
		padding: 20px 0;
		margin-top: 200px;

		img {
			height: 200px;
		}
	}

	div {
		text-align: center;
		color: white;

		a {
			color: white;
		}
	}
}
